<div class="container-fluid container-cards-pf">
    <!-- ROW CARD -->
    <div class="row row-cards-pf">
        <div class="col-md-12">
            <div class="card-pf">
                <div class="card-pf-heading">
                    <h2 class="card-pf-title">Lineage Graph</h2>
                    <!--{{vm.dataLineage}}-->
                </div>
            </div>
        </div>
        <div class="col-md-12" >
            <div class="card-pf card-pf-view ">
                <div class="card-pf-body">
                    <lineage-graph></lineage-graph>
                </div>
            </div>
        </div>
    </div>
    <!-- END ROW CARD -->
</div>
